<h1 class="text-center mb-3">{{title}}</h1>
<form action="/" method="POST">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" name="id" id="id" class="form-control" placeholder="Enter ID" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="id">Name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="id">Salary</label>
      <input type="text" name="salary" id="id" class="form-control" placeholder="Enter Name" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="desig">Designation</label>
      <input type="text" name="designation" id="desig" class="form-control" placeholder="Enter ID" aria-describedby="helpId">
    </div>

    <input type="submit" value="submit" class="btn btn-primary btn-block">
</form>